<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./include/static/Inter-SemiBold.ttf" />
    <link rel="stylesheet" href="./include/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./include/css/all.css" />
    <link rel="stylesheet" href="./include/css/style.css" />
    <title>SSP</title>
  </head>
  <body>
    <section class="navbar_section">
       <div class="container">
        <nav class="navbar navbar-expand-lg ">
          <!-- nav logo -->
          <div class="nav_logo text-center">
                    <div class="logo-content">
                      <img
                        src="/include/image/Component.png"
                        alt="logo"
                        class="logo_img"
                      >
                      <div class="nav-text">
                      <a class="navbar-brand" href="#"
                        >Surveillance and Security for 85 Sarkari Shishu Paribar
                        (SSP)</a> 
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    </div>
                  </div>
                 
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"
                          >Home</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                      </li>
                    </ul>
                  </div>
              </nav>
              
            </div>
              
      </div>
    </section>
    <section class="information_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-6 col-12">
            <div class="card information" style="height: 36rem">
              <div class="details">
                <h4 class="info-text">Information</h4>
              </div>
              <div class="card-body info-details" data-bs-spy="scroll">
                <p class="card-text">
                  The Government Children's Family is managed by the Department
                  of Social Services under the control of the Ministry of Social
                  Welfare for the maintenance, education, training and
                  rehabilitation of the orphaned children without parents or
                  fatherless children.
                </p>
                <p class="card-text">
                  Those involved in the implementation of the program:
                </p>
                <p class="card-text">
                  Institutions Branch of Department of Social Services is
                  responsible for the management of government child families.
                  The Director (Institution) is headed by Additional Director,
                  Deputy Director, Assistant Director, Social Service Officer at
                  headquarters level and Custodian/Deputy Custodian at field
                  level concerned with the management of government child
                  families. The Deputy Director and Assistant Directors of the
                  District Social Service Office supervise the field level
                  institutions and coordinate between the field level and the
                  headquarters. At the field level, a management committee led
                  by the District Commissioner is the Children's Family
                  Management Authority. The Caretaker/Deputy Caretaker of the
                  concerned Government Child Family works as the
                  Member-Secretary of the Committee. Besides, under the
                  leadership of the Deputy Director, Director of Social
                  Services, the Government Children's Family Admission Committee
                  arranges the admission of children.
                </p>
                <p class="card-text">Services:</p>
                <p class="card-text">
                  Fostering orphaned children up to 18 years of age Nurturing
                  with love and care in a family environment Providing education
                  and vocational training To achieve physical, intellectual and
                  human excellence of the residents To provide employment to
                  them with a view to rehabilitation and self-reliance
                </p>
                <p>Service Recipient:</p>
                <p class="card-text">
                  Orphans i.e. fatherless or fatherless poor children aged 6-9
                  years.
                </p>

                Service Center:
                <p class="card-text">
                  There are 42 boys, 42 girls and 1 mixed family located in the
                  district headquarters and some upazilas, totaling 85
                  government child families. Download the list of families with
                  children.
                </p>
                <p>Service Delivery Procedures (In Brief):</p>

                <p class="card-text">
                  Parents of 6-9 year old orphans will submit the application in
                  the prescribed form. After preparing the draft list of
                  applications received, the Supervisor/Deputy Supervisor
                  convenes the meeting of the Admission Committee. Resident
                  orphans are admitted and rehabilitated through maintenance,
                  education and training up to the age of 18 years after
                  selection by the resident and informing the applicant.
                </p>
                <p class="card-text">Functions:</p>
                <p>
                  In the month of December every year, the guardian submits an
                  application to the concerned child's family or to the district
                  social service office in the prescribed form; Verification of
                  the age and health status of the applicant orphan through the
                  Civil Surgeon or his representative; Final approval by the
                  Admission Committee Free admission of orphans; Maintenance,
                  education, training and rehabilitation of children into
                  society with appropriate statusp
                </p>
                <p class="card-text">Relevant Acts/Rules/Policies:</p>
                1. Govt Shishu Sadan/Child Family Management Policy-2002
                <br />
                2. Children Act 2013
                <br />
                3. Children Act, 2013 (Amended 2018)
                <br />
                <p class="card-text">Areas of Citizen Participation:</p>
                <br />
                Inform the authorities if any disturbance is observed in the
                management of the child family; Providing financial assistance
                with Zakat, Fitra, charity etc.; Any assistance in improving the
                quality of children's education; Assisting in the rehabilitation
                of the child financially, by providing employment or by
                providing information; Be kind to children;<br />
                Any form of assistance in the full development of the child.
                <br />
                <p class="card-text">Service Delivery Period:</p>
                <br />
                <p>
                  1 month after receipt of application form for admission to
                  child family Other services after the child is admitted till
                  the child reaches 18 years of age
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card info-content" style="height: 100%" ;>
              <div class="btn-group text-center">
                <div class="top-text">
                  <img
                    src="/include/image/Group.png"
                    class="card-img-top"
                    alt="card-img"
                  >
                  <div class="card-text">
                    <h5 class="card-title info-title">
                      Surveillance and Security for 85 Sarkari Shishu Paribar
                      (SSP)
                    </h5>
                  </div>
                </div>
                <div class="card_btn" id="card_btn">
                  <button class="btn" id="btn-attend">
                    <a
                      href="#"
                      data-toggle="collapse"
                      href="#collapseLogin"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapseLogin"
                    >
                      <img src="/include/image/Black.png" alt="attend">
                      Digital Attendance
                    </a>
                    <span class="btn-icon"
                      ><i class="fa-solid fa-arrow-up"></i
                    ></span>
                  </button>

                  <button class="btn btn-cctv">
                    <a href="#">
                      <img src="/include/image/Vector.png" alt="">
                      CCTV Surveillance
                    </a>
                    <span class="btn-icon"
                      ><i class="fa-solid fa-arrow-up"></i
                    ></span>
                  </button>
                </div>
                <div class="card_btn login-card d-none" id="loginForm">
                  <div class="login-form" id="formLigin">
                    <div class="form-data" v-if="!submitted">
                      <div class="forms-inputs mb-4">
                        <input
                          autocomplete="off"
                          placeholder="ID"
                          type="text"
                          v-model="email"
                          v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                          v-on:blur="emailBlured = true"
                        />
                        <div class="invalid-feedback">
                          A valid email is required!
                        </div>
                      </div>
                      <div class="forms-inputs mb-4">
                        <input
                          autocomplete="off"
                          placeholder="Password"
                          type="password"
                          v-model="password"
                          v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}"
                          v-on:blur="passwordBlured = true"
                        />
                        <div class="invalid-feedback">
                          Password must be 8 character!
                        </div>
                      </div>
                      <div class="">
                        <button
                          v-on:click.stop.prevent="submit"
                          class="btn btn-login w-100"
                        >
                          <a href="" class="text-center">Login</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="information_section">
      <div class="container">
        <div class="card information">
          <div class="details">
            <h4 class="info-text">Contact</h4>
          </div>
          <div class="card-body">
            <p class="blockquote">
              Concerned Caretaker/Deputy Caretaker, Government Child Family -
              <br />
              33 Institute Bhaban, Road-15, Sector-12, Uttara,<br />
              Dhaka-1230, Bangladesh <br />
              +8801844270558 <br />
              info@simecinstitute.edu.bd <br />
              reseach@simecinstitute.edu.bd
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="mt-4">
      <div class="footer-text text-center">
        <p>Design and Development: SIMEC System Ltd.</p>
      </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->
    <script>
      btn_attend = document.getElementById("card_btn");
      loginForm = document.getElementById("loginForm");
      btn_attend.onclick = function () {
        btn_attend.classList.add("d-none");
        loginForm.classList.remove("d-none");
      };

      // loginForm.onclick = function(){
      //   btn_attend.classList.remove("d-none");
      //   loginForm.classList.add("d-none");
      // }
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    
    <script src="./include/js/bootstrap.bundle.min.js"></script>
    <script src="./include/js/all.js"></script>

  </body>
</html>
