*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#F5FFF6;
    font-family: 'Inter', sans-serif;
}

.navbar_section{
    background-color: #00988F;

   
}
.logo-content{
    display: flex;
}

.nav_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: .5rem; */
}
.nav_logo .logo_img{
    width: 10%;
}
.nav_logo a:hover{
    color: #FFFF;
}
.nav-text{
    width: 65%;
}
.navbar-brand{
    color: #FFFF;
    text-wrap: wrap;
    width: 270px;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 3%;
    line-height: 28px;
}
.navbar-nav {
    gap: .9rem;
    flex-direction: row;
}
/* li.nav-item {
    padding: 10px;
} */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
 .navbar-nav .nav-link {
    padding: 0.6rem 1rem;
}
a.nav-link {
    font-size: .9rem;
    font-weight: 500;
    color: #FFFF;
    border-radius: 5px;
    padding: 0.6rem 1rem;
}
.nav-link:hover {
    color: #fff;
    background-color:#00A59B;
}
/* information_section start */

.card-body{
    padding: 0 !important;
}
.information_section{
    margin-top:4rem;
}

.info-details{
    margin-top: 1%;
    height:24rem;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-weight: 400;
    font-size: 14px;
    color:#2B2B2B;
    line-height:20px;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.info-details::-webkit-scrollbar {
    display: none;
}
.details{
    border-bottom: 1px solid;
    border-color: #E3E3E3;
    margin-bottom: 1%;
}
.info-text{
    color: #7A7A7A;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 1%;   
}
.card{
    padding: 0.9rem 2rem;
    border: 1px solid #B3E0DE;
    background-color: #F9FFFA;
}

.info-content{
    display: flex;
    align-items: center;
   
}
.contact-details{
    border: 1px solid;
    border-color: #93f3ed;
}
.card-img-top{
    Width:129px;
    height: 129px;
}
.info-title{
    color:#00988F;
    font-size: 16px;
    font-weight: 700;
    
}
.top-text{
    padding: 1rem;
}
.btn-group{
    display: block;
}
.card_btn {
    margin-top: 38%;
}

.btn {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    font-weight: 400;
    background-color: #00988F;
    width: 100%;
    padding: 5% 4%;
    margin-bottom: .5rem;
}
.btn a{
    color: #FFFF;
    font-size: 15px;
    text-decoration: none;
    padding-left: .5rem;
}

.btn:hover {
    color: #ffffff;
}

.btn img{
    padding: 1rem;
    background-image: url(/include/image/Ellipse.png); 
    background-size: 95%;
    background-repeat: no-repeat;
}

.btn-icon{
    display: none;
    color: #FFF;
    font-weight: 300;
    transform: rotate(52deg);
    float:right;
    transition: all ease-in 0.3s;
}
.btn:hover{
    opacity: 0.9;
    background-color: #018880;
}
.btn:hover .btn-icon{
    display: block;
    transform: rotate(57deg);
    transition: all ease-in 0.3s;
    padding-right: -6px;
}
.btn-cctv{
    margin-top: 3%;
}

/* login */
.login-form{
    width: 100%;
}
.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    background-color: #00988F;
    padding: 5% 4%;
}
.forms-inputs input{
    width: 100%;
    padding: .5rem 1.5rem;
    outline: none;
}
input[type="text"], [type="password"] {
    border: 1px solid #C9C9C9;
    border-radius: 5px;
}
/* information_section end  */

/* contact section start  */
.blockquote{
    font-size: 14px;
    font-weight: 400;
}
.footer-text{
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
     /* .navbar_section{
    height: 100vh;
    
    }  */
    .row{
        gap:2rem
    }
    .logo-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav_logo .logo_img {
        width: 15%;
    }
    .nav-text {
        width: 33%;
    }
    .navbar-brand {
        font-size: 7px;
        line-height: 0px;
    }  
    
  }